*{
    /* background-color:aliceblue;  */
    margin:0;
    padding:0;
}
h1{
    color: cyan;
}
img{
    width: 200px;
}
.Carrer{
    color: chocolate;
}
.organisations{
background-color:aquamarine;
}
h1{
    color: blue;
    font-size: 50px;
}
.profile{
width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
}

.paragraph{
    color: deepskyblue;
    font-size: 30px;
}
.follow-me{
    font-size: 50;
    color: blue;
}
.about-me{
    color: blue;
    font-size: 50px;
}
.Skill{
    color: blue;
    font-size: 50px;
}
.skills{
    color: deepskyblue;
    font-size: 30px;  

}
.image{
    width: 50px;
    height: 50px;
}
.follow-me{
    color: blue;
    font-size: 50px;
}
#sample-text{
    color: aqua;
    background-color: cornflowerblue;
    border: 5pt red solid;
}
.first{
border-style: dotted;
margin: 10px 15px;
padding: 30px ;
}
/* My flex box propoerties */
/* .container{
    background-color:aqua;
} */
.child{
    background-color:blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Blue container */
.Bluecontainer{
    border: 3px blue solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexitems{
    border: 2px orange solid;
    margin: 5px;
    height: 80px;
    width: 50px;

}
.mine{
    color: blue;
}
/* lastcontainer */
.last{
    border: 1px grey solid;
    display: flex;
    justify-content: center;
}
img{
    width: 50px;
    border-radius: 50%;
    
}