*{
    background-color:aliceblue; 
}
h1{
    color: cyan;
}
img{
    width: 200px;
}
.Carrer{
    color: chocolate;
}
.organisations{
background-color:aquamarine;
}
h1{
    color: blue;
    font-size: 50px;
}
.profile{
width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
}

.paragraph{
    color: deepskyblue;
    font-size: 30px;
}
.follow-me{
    font-size: 50;
    color: blue;
}
.about-me{
    color: blue;
    font-size: 50px;
}
.Skill{
    color: blue;
    font-size: 50px;
}
.skills{
    color: deepskyblue;
    font-size: 30px;  

}
.image{
    width: 50px;
    height: 50px;
}
.follow-me{
    color: blue;
    font-size: 50px;
}